@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li{
    padding-bottom: 5px;
    display: inline-block;
    padding: 8px 20px;
}
.nav-links a{
    text-decoration: none;
    color: #555;
    font-weight: 600;
}
.logo img{
    width: 250px;
}
nav .fa-bars{
    font-size: 30px;
    color: #06325E;
    display: none;
    cursor: pointer;
}
.nav-links li::after{
    content: "";
    background-color: #2A166F;
    width: 0;
    display: block;
    height: 3px;
    margin: auto;
    border-radius: 1px;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}
/********container**********/
.container{
    height: 90vh;
    width: 100%;
    background: radial-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container h1{
    font-size: 60px;
    margin-left: 50px;
    padding-top: 200px;
    color: #2A166F;
}
.container p{
    margin-left: 50px;
    color: #2A166F;
    font-size: 20px;
    font-weight: 700;
}
/******Welcome Section*******/
.welcome{
    margin-top: 30px;
    padding: 0 50px;
    text-align: justify;
    font-weight: 500;
}
.title{
    font-size: 40px;
    padding: 30px 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    background-color: #2A166F;
    color: #fff;
}
.welcome p{
    color: #555;
}
/**********Products**********/
.products{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-title{
    text-align: center;
    padding-bottom: 1px;
    color: #06325E;
    position: relative;
}
.sub-title::after{
    content: "";
    background-color: #ff523b;
    height: 5px;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}
.small-container{
    max-width: 1300px;
    padding: 0 50px;
    margin: 30px auto;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-1:hover{
    transform: scale(1.1);
}
.col-1 img{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.col-1 h4{
    color: #555;
    font-weight: 800;
}
.col-m{
    flex-basis: 30%;
    min-width: 250px;
}
.col-m h4{
    padding: 5px 0;
    display: block;
    text-align: center;
}
.col-m img{
    width: 100%;
}
.col-m:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/**********products-range********/
.product-range{
    background-color: #f9f9f9;
    margin: 0 100px;
}
.product-range h2{
    padding-top: 30px;
}
.col-3{
    flex-basis: 25%;
    min-width: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.col-3 img{
    width: 100%;
}
.col-3 h3{
    text-align: center;
    color: #555;
}
.col-3:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
/*-----feel free-----*/
.free{
    margin-top: 90px;
}
.col-2{
    flex-basis: 50%;
    min-width: 250px;
}
.col-2 img{
    width: 100%;
}
.col-4{
    flex-basis: 50%;
}
.col-4 h2{
    font-size: 35px;
    color: #06325E;
    margin-bottom: 30px;
    font-weight: 500;
}
.col-4 h3{
    font-size: 25px;
    color: #555;
    margin-bottom: 30px;
    font-weight: 400;
}
.col-4 p{
    font-weight: 500;
    color: #777;
    margin-bottom: 60px;
}
.feel{
    margin-left: 50px;
}
.whatsapp a{
    font-size: 50px;
    cursor: pointer;
    color: #075e54;
    position: fixed;
    right: 4%;
    bottom: 7%;
}
/*******Footer*********/
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 16px 0 20px;
}
.footer-col-2{
    flex-basis: 30%;
    max-width: 280px;
    margin-bottom: 30px;
}
.footer-col-2 h4,p{
    display: inline;
}
.footer-col-2 h4{
    margin-bottom: 5px;
}
.footer-col-1 p{
    padding-top: 15px;
}
.footer-col-2 h3{
    padding-bottom: 20px;
}
.footer-col-3{
    flex-basis: 20%;
    min-width: 230px;
}
.footer-links{
    margin-bottom: 40px;
}
.footer-links li{
    list-style: none;
    padding-top: 20px;
}
.footer-links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #8a8a8a;
}
.footer-links i{
    font-size: 20px;
    padding-right: 5px;
}
.footer-links a:hover{
    text-decoration: underline;
    color: blue;
}
#horo{
    height: 5px;
    background: #8a8a8a;
    /* margin: 100px; */
}

/************Media Queries for small screen********/
@media only screen and (max-width :700px){
    .logo img{
        width: 180px;
        position: fixed;
        top: 4%;
        left: 7%;
    }
    .navbar{
        position: fixed;
        top: 0;
        z-index: 1;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background-color: #fff;
        text-align: right;
        max-height: 110px;
        overflow: hidden;
        transition: transform 0.3s;
    }
    .container{
        height: 60vh;
    }
    .nav-links li{
        padding: 5px 0;
        display: block;
    }
    nav .fa-bars{
        position: fixed;
        right: 7%;
        top: 7%;
        font-size: 30px;
        display:block;
    }
    .hide-menu{
        max-height: 350px;
    }
    .container h1{
        font-size: 7vw;
        padding-top: 200px;
    }
    .container p{
        font-size: 3vw;
    }
    .title{
        font-size: 6vw;
    }
    .col-1{
        flex: 100%;
    }
    .col-m{
        margin-top: 20px;
        flex: 1;
    }
    .col-2{
        flex: 1;
    }
    .col-3{
        margin-top: 20px;
        flex: 1;
    }
    .col-4{
        flex: 1;
    }
    .feel{
        margin-left: 0;
        padding-left: 0;
        text-align: justify;
    }
    .nav-links li:hover::after{
        width: 0;
    }
    .col-4 h2{
        font-size: 7vw;
        margin-left: 0;
    }.sub-title{
        font-size: 7vw;
    }
    .product-range{
        padding: 0px;
        margin: 0;
    }
    .col-4 h3{
        font-size: 4vw;
        font-weight: 800;
    }
    .whatsapp a{
        font-size: 13vw;
    }
    .footer-col-2,.footer-col-3,.footer-col-4{
        flex: 1;
    }
    .footer-col-3,.footer-col-4{
        margin-left: 20px;
    }

}
/* *************CSS for About Page************* */
.about-container{
    background-color: #2A166F;
}
.about-nav-links li{
    list-style: none;
    display: inline-block;
}
.about-list{
    padding-top: 30px;
    margin-left: 100px;
}
.about-nav-links li a{
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.about-list h3{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    padding:20px 0 30px;
}
.about{
    margin-top: 60px;
}
.col-5{
    flex-basis: 40%;
    text-align: justify;
}
.col-5 h1{
    color: #2A166F;
}
.col-5 p{
    color: #555;
    font-weight: 600;
}
.col-6{
    flex-basis: 50%;
    min-width: 350px;
}
.col-6 img{
    width: 100%;    
}
/******Growth******/
.growth{
    margin-top: 60px;
    background-color: #3530312E;
    padding: 30px 0;
}
.col-7{
    flex-basis: 50%;
    min-width: 300px;
}
.col-7 img{
    width: 100%;
}
.col-8{
    flex-basis: 40%;
    min-width: 300px;
}
.col-8 p{
    text-align: justify;
}
.col-8 h2{
    font-size: 28px;
    color: #2A166F;
}
.col-8 p{
    text-align: justify;
    color: #555;
    font-weight: 600;
}
/******Certifications******/
.certification{
    margin-top: 100px;
    background-color: #2596be;
    padding: 50px;
    margin-bottom: 50px;
}
.certification h2{
    font-size: 30px;
    color: #fff;
}
.col-9{
    flex-basis: 22%;
    min-width: 200px;
}
.col-9 img{
    width: 150px;
}
.col-9 h3{
    color: rgba(255,255,255,0.9);
}
.col-9 p{
    color: rgba(255,255,255,0.8);
    font-weight: 400;
    text-align: justify;
}
#who{
    padding-bottom: 55px;
}
#who img{
    width: 160px;
}#gmp{
    padding-bottom: 40px;
}
/*******CSS for responsiveness of About page********/
@media only screen and (max-width :700px){
    .about-container{
        margin-top: 110px;
        display: fixed;
    }
    .about-list{
        margin-left: 10px;
    }
    .about-list h3{
        font-size: 5vw;
    }
    .col-5 h1{
        font-size: 7.5vw;
    }
    .col-5{
        flex: 1;
    }
    .col-5 p{
        padding-top: 30px;
    }
    .col-6 img{
        width: 100%;
        padding: 0 30px;
        margin-top: 50px;
    }
    .col-8{
        flex: 1;
        text-align: justify;
    }
    .col-8 h2{
        margin-top: 20px;
        font-size: 8vw;
    }
    .col-8 p{
        margin-top: 10px;
    }
    .certification h2{
        font-size: 6vw;
        text-align: center;
    }
    .col-9{
        flex: 1;
        text-align: justify;
        padding-bottom: 30px;
    }
    .col-9 img{
        padding-bottom: 20px;
    }
} 
/******Our-Products******/
.our-products h1{
    color: #2A166F;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 50px;
}
/******Contact-US Page CSS******/
.contact-us h3{
    font-size: 30px;
    font-weight: 500;
    color: #2A166F;
}
.details{
    padding: 50px;
    margin:0 50px;
}

.contact-us h4{
    display: inline;
}
.contact-us p{
    display: inline;
    text-align: justify;
}
.col-10{
    flex-basis: 50%;
    margin-bottom: 200px;
}
.col-10 h1{
    color: #2A166F;
    font-weight: 600;
}
.col-11{
    flex-basis: 50%;
}
/******Form******/
.form{
    background-color: #f7f7f7;
    padding: 30px;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
}
.form input{
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-size: 16px;
    color: #555;
    width: 80%;
    height: 6vh;
    margin-top: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.form textarea{
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-size: 16px;
    color: #555;
    width: 80%;
    margin-top: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.form button{
    padding: 8px 12px;
    font-size: 14px;
    margin-top: 20px;
    display: block;
    text-align: left;
    margin-left: 50px;
    cursor: pointer;
    color: #fff;
    background-color: #2A166F;
    font-weight: 600;
    outline: 0;
    border: 0;
}
@media only screen and (max-width:700px){
    .details{
        margin: 0 11px;
    }
    .details h3{
        font-size: 7vw;
        font-weight: 700;
    }
    .details p{
        display: block;
        text-align: justify;
    }
    .address{
        text-align: justify;
    }
    .col-10{
        flex: 1;
        text-align: left;
        margin-bottom: 20px;
    }
    .sub-title{
        padding-bottom: 2px;
    }
    .col-10 h1{
        margin-bottom: 20px;
        font-size: 7vw;
        text-align: left;
    }
    .col-11{
        flex: 1;
    }
    .form{
        margin-top: 60px;
        text-align: left;
        padding: 40px;
    }
    .form input{
        width: 100%;
        margin-bottom: 10px;
    }
    .form textarea{
        width: 100%;
    }
    .form button{
        margin-left: 5px;
    }
}